ENABLE_JMX_MONITORING=false
RCON_PORT=25575
LEVEL_SEED=myworldseed
GAMEMODE=survival
ENABLE_COMMAND_BLOCK=false
ENABLE_QUERY=false
GENERATOR_SETTINGS={}
ENFORCE_SECURE_PROFILE=true
LEVEL_NAME=world
MOTD=A Minecraft Server
QUERY_PORT=25565
PVP=true
GENERATE_STRUCTURES=true
MAX_CHAINED_NEIGHBOR_UPDATES=1000000
DIFFICULTY=easy
NETWORK_COMPRESSION_THRESHOLD=256
MAX_TICK_TIME=60000
REQUIRE_RESOURCE_PACK=false
USE_NATIVE_TRANSPORT=true
MAX_PLAYERS=20
ONLINE_MODE=true
ENABLE_STATUS=true
ALLOW_FLIGHT=false
INITIAL_DISABLED_PACKS=
BROADCAST_RCON_TO_OPS=true
VIEW_DISTANCE=10
SERVER_IP=
RESOURCE_PACK_PROMPT=
ALLOW_NETHER=true
SERVER_PORT=25565
ENABLE_RCON=false
SYNC_CHUNK_WRITES=true
OP_PERMISSION_LEVEL=4
PREVENT_PROXY_CONNECTIONS=false
HIDE_ONLINE_PLAYERS=false
RESOURCE_PACK=
ENTITY_BROADCAST_RANGE_PERCENTAGE=100
SIMULATION_DISTANCE=10
RCON_PASSWORD=
PLAYER_IDLE_TIMEOUT=0
FORCE_GAMEMODE=false
RATE_LIMIT=0
HARDCORE=false
WHITE_LIST=false
BROADCAST_CONSOLE_TO_OPS=true
SPAWN_NPCS=true
SPAWN_ANIMALS=true
LOG_IPS=true
FUNCTION_PERMISSION_LEVEL=2
INITIAL_ENABLED_PACKS=vanilla
LEVEL_TYPE=minecraft:normal
TEXT_FILTERING_CONFIG=
SPAWN_MONSTERS=true
ENFORCE_WHITELIST=false
SPAWN_PROTECTION=16
RESOURCE_PACK_SHA1=
MAX_WORLD_SIZE=29999984

